body{
  font-family: Helvetica, Arial, sans-serif;  
  width: 100%;
  height:100%;
}

h4{
  margin-bottom: 2px;
}

svg{
  float: left;
  background-color:white;
  border:1px solid black;
}

#controls{
  width: 300px;
  display: inline-block;
  margin:0 100px;
}

#controls > div{
  margin-bottom: 50px;
}
/*
.gsc_borders{
  fill: #eee;
  fill-opacity: .2;
}
.country-border {
  fill: none;
  stroke: #777;
}

.ddr-border{
  fill: none;
  stroke: #777;
  stroke-dasharray: 2,2;
  stroke-linejoin: round;
}

text {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 10px;
  pointer-events: none;
}

.country-label{
  fill: #777;
  fill-opacity: .5;
  font-size: 20px;
  font-weight: 300;
  text-anchor: middle;
}

.place,
.place-label {
  fill: #444;
}

.map-title{
  fill: #777;
  fill-opacity: .5;
  font-size: 50px;
  font-weight: 300;
  text-anchor: middle; 
}*/